---
import Layout from "../layouts/BlogPost.astro";
---

<Layout title="About Me" description="" pubDate={new Date("2025-10-05")}>
	<p>
		電２です。読み方は「でんじ」です。電気通信大学の学生をしています。<br />
		パソコンカタカタするのを好む変な奴です。
	</p>
</Layout>
