---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<img
				src="/electr_2.svg"
				alt="でんじのブログのロゴ"
				class="mx-auto mb-4"
			/>
			<h1 class="text-center">電２ you do</h1>
			<h2>これは何？</h2>
			<p>
				私、電２の個人ブログです。タイトルは電磁誘導とかかってるらしいよ
			</p>
			<h2>このブログの目的</h2>
		</main>
		<Footer />
	</body>
</html>
