---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="bg-white shadow-sm" >
	<nav class="flex items-center justify-between px-4">
		<h2 class="m-0 text-base"><a href="/" class="no-underline">{SITE_TITLE}</a></h2>
		<div class="internal-links flex space-x-2">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
